<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>
<p><tmpl_var name="list_desc_txt"></p>


<div class="form-group">
	<label class="col-sm-3 control-label" for="id">{tmpl_var name='id_txt'}</label>
	<div class="col-sm-9"><input name="id" id="id" class="form-control" type="text" value="{tmpl_var name='id'}" /></div>
</div>

<div class="form-group">
	<label class="col-sm-3 control-label" for="vm_id">{tmpl_var name='vm_id_txt'}</label>
	<div class="col-sm-9"><input name="vm_id" id="vm_id" class="form-control" type="text" value="{tmpl_var name='vm_id'}" /></div>
</div>


<div class="form-group">
	<label class="col-sm-3 control-label" for="vm_pvesvr">{tmpl_var name='vm_pvesvr_txt'}</label>
	<div class="col-sm-9"><input name="vm_pvesvr" id="vm_pvesvr" class="form-control" type="text" value="{tmpl_var name='vm_pvesvr'}" /></div>
</div>

<div class="form-group">
	<label class="col-sm-3 control-label" for="vm_interface">{tmpl_var name='vm_interface_txt'}</label>
	<div class="col-sm-9"><input name="vm_interface" id="vm_interface" class="form-control" type="text" value="{tmpl_var name='vm_interface'}" /></div>
</div>


<div class="form-group">
	<label class="col-sm-3 control-label" for="vm_mode">{tmpl_var name='vm_mode_txt'}</label>
	<div class="col-sm-9"><select name="vm_mode" id="vm_mode" class="form-control">{tmpl_var name='vm_mode'}</select></div>
</div>

<div class="form-group">
	<label class="col-sm-3 control-label" for="vm_tag">{tmpl_var name='vm_tag_txt'}</label>
	<div class="col-sm-9"><input name="vm_tag" id="vm_tag" class="form-control" type="text" value="{tmpl_var name='vm_tag'}" /></div>
</div>

<div class="form-group">
	<label class="col-sm-3 control-label" for="vm_bridge" class="col-sm-3 control-label">{tmpl_var name='vm_bridge_txt'}</label>
	<div class="col-sm-9"><input name="vm_bridge" id="vm_bridge" class="form-control" type="text" value="{tmpl_var name='vm_bridge'}" /></div>
</div>

<div class="form-group">
	<label class="col-sm-3 control-label">{tmpl_var name='vm_firewall_txt'}</label>
	<div class="col-sm-9">{tmpl_var name='vm_firewall'}</div>
</div>

<div class="form-group">
	<label class="col-sm-3 control-label" for="vm_model">{tmpl_var name='vm_model_txt'}</label>
	<div class="col-sm-9"><select name="vm_model" id="vm_model" class="form-control">{tmpl_var name='vm_model'}</select></div>
</div>

<div class="form-group">
	<label class="col-sm-3 control-label" for="vm_mac" >{tmpl_var name='vm_mac_txt'}</label>
	<div class="col-sm-9"><input name="vm_mac" id="vm_mac" class="form-control" value="{tmpl_var name='vm_mac'}" /></div>
</div>

<div class="form-group">
	<label class="col-sm-3 control-label" for="vm_rate">{tmpl_var name='vm_rate_txt'}</label>
	<div class="col-sm-9"><input name="vm_rate" id="vm_rate" class="form-control" value="{tmpl_var name='vm_rate'}" /></div>
</div>

<div class="form-group">
	<label class="col-sm-3 control-label" for="vm_queues">{tmpl_var name='vm_queues_txt'}</label>
	<div class="col-sm-9"><input name="vm_queues" id="vm_queues" class="form-control" value="{tmpl_var name='vm_queues'}" /></div>
</div>

<div class="form-group">
	<label class="col-sm-3 control-label">{tmpl_var name='vm_disconnect_txt'}</label>
	<div class="col-sm-9">{tmpl_var name='vm_link_down'}</div>
</div>

<input type="hidden" name="id" value="{tmpl_var name='id'}">

<div class="clear"><div class="right">
	<button class="btn btn-default formbutton-success" type="button" value="{tmpl_var name='btn_save_txt'}" data-submit-form="pageForm" data-form-action="proxmox/proxmox_vm_edit.php">{tmpl_var name='btn_save_txt'}</button>
	<button class="btn btn-default formbutton-default" type="button" value="{tmpl_var name='btn_cancel_txt'}" data-load-content="proxmox/proxmox_vm_list.php">{tmpl_var name='btn_cancel_txt'}</button>
</div></div>

<script>
jQuery('#vm_mode').change(function(){
	 var mode = jQuery('#vm_mode').val();
	 
	 if(mode == 'nat'){
	 	console.log('Nat hide');
	 	jQuery('#vm_tag').attr("disabled", true);
	 	jQuery('#vm_bridge').attr("disabled", true);
	 	jQuery('#vm_firewall').attr("disabled", true);
	 }
});
</script>

