<input name="id" id="id" value="{tmpl_var name='id'}" type="hidden"/>
<input name="vm_pvesvr" id="vm_pvesvr" value="{tmpl_var name='vm_pvesvr'}" type="hidden" />

<div class='page-header'>
	<h1><tmpl_var name="list_head_txt"></h1>
</div>
<p><tmpl_var name="list_desc_txt"></p>

<div class="tab-content">
	<div class="tab-pane active fade in">
			
		<table class="table">
			<tbody>
				<tmpl_if name="is_admin">
					<tr>
						<td for="vm_pvesvr"><tmpl_var name="vm_pvesvr_txt"></td>
						<td>{tmpl_var name='vm_pvesvr'}</td>
					</tr>
				</tmpl_if>
				<tr>
					<td for="vm_id"><tmpl_var name="vm_id_txt"></td>
					<td>{tmpl_var name='vm_id'}</td>
				</tr>
			         <tr>
                                        <td for="vm_name"><tmpl_var name="vm_nom_txt"></td>
                                        <td>{tmpl_var name='vm_name'}</td>
                                </tr>
			<tfoot>
				<iframe src="https://{tmpl_var name='pve_link'}/?console={tmpl_var name='vm_containers_iframe'}&novnc=1&vmid={tmpl_var name='vm_id'}&vmname={tmpl_var name='vm_name'}&node={tmpl_var name='vm_pvesvr'}" frameborder="0" scrolling="no" width="100%" height="600px" scroll="auto"></iframe>

				<tr>
		        	<td colspan="2">
		        		<div class="right">
						    <button class="btn btn-default formbutton-success" data-submit-form="pageForm" data-form-action="proxmox/proxmox_action.php?r=start">{tmpl_var name='vm_start_txt'}</button>
							<button class="btn btn-default formbutton-danger" data-submit-form="pageForm" data-form-action="proxmox/proxmox_action.php?r=shutdown">{tmpl_var name='vm_shutdown_txt'}</button>
							<button class="btn btn-default formbutton-danger" data-submit-form="pageForm" data-form-action="proxmox/proxmox_action.php?r=reset">{tmpl_var name='vm_reset_txt'}</button>
							<button class="btn btn-default formbutton-danger"data-submit-form="pageForm" data-form-action="proxmox/proxmox_action.php?r=kill">{tmpl_var name='vm_kill_txt'}</button>
							<button class="btn btn-default formbutton-default" data-load-content="proxmox/proxmox_vm_list.php">{tmpl_var name='btn_cancel_txt'}</button>
						</div>
					</td>
		    	</tr>
	</tfoot>
		</table>	
		
	</div>
</div>

