<div class='page-header'>
	<h1><tmpl_var name="task_title_txt"></h1>
</div>
<p><tmpl_var name="list_desc_txt"></p>


<p class="fieldset-legend"><tmpl_var name="list_head_txt"></p>
<div class="table-wrapper marginTop15">
	<table class="table">
        <thead class="dark form-group-sm">
        	<tr>
        	    <th><tmpl_var name="start_time_txt"></th>
                <th><tmpl_var name="end_time_txt"></th>
                <th><tmpl_var name="username_txt"></th>
                <th><tmpl_var name="description_txt"></th>
                <th><tmpl_var name="status_txt"></th>
        	</tr>
        </thead>
      	 <tbody>
      	 	<tmpl_loop name="task_logs">
		  	 	<tr>
		  	 		<td>{tmpl_var name="starttime"}</td>
		  	 		<td>{tmpl_var name="endtime"}</td>
		  	 		<td>{tmpl_var name="username"}</td>
		  	 		<td>{tmpl_var name="vmid"} :: {tmpl_var name="description"}</td>
		  	 		<td>{tmpl_var name="status"}</td>
		  	 	</tr>
      	 	</tmpl_loop>
      	 </tbody>
	</table>
</div>
